html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Base View
    body
        h1 Sample Heading 
        p Sample paragraph.
        block content